.img-thumbanil {
    margin: 25px;
    width: 85%;
    height: 85%;
}
.card-body {
    padding: 0 25px;
}
.card-footer {
    padding: 10px 15px;
    border-top: none;
}
.btn-like {
    background-image: linear-gradient(#4b5d82, #2d436f 59%, #35538e);
}
.btn-like:hover { 
    background-image: linear-gradient(#364158, #2d436f 40%, #2b3d54);
    color: #fff
}
.btn-message {
    background-image: linear-gradient(#2d6f2d, #3c923c 60%, #387d38);
    color: #aaa;
}
.btn-message:hover {
    color: #fff;
}
.ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
}
